div.image img[src="CCPC7Correct.png"]{ 
    width:500px; 
}

div.image img[src="CCPC7Incorrect.png"]{ 
    width:500px; 
}

div.image img[src="HVCorrect.png"]{ 
    width:500px; 
}

div.image img[src="HVIncorrect.png"]{ 
    width:500px; 
}

div.image img[src="HVIncorrect2.png"]{ 
    width:500px; 
}

div.image img[src="remoteDesktops.png"]{ 
    width:700px; 
}
div.image img[src="ccpcDesktop.png"]{ 
    width:700px; 
}
div.image img[src="hvDesktop.png"]{ 
    width:700px; 
}

div.image img[src="clientDesktopShortcuts.png"]{ 
    width:700px; 
}

div.image img[src="camacInterface.png"]{ 
    width:700px; 
}

div.image img[src="DataVisualizerInterface.png"]{ 
    width:700px; 
}

